html, body {
    padding: 0;
    font-family: Karla;
    background: #ECF2FF;
}

#main-container {
    /* 
        Vertically Stack 
        & Horizontally Center contents
    */
    width: 800;
    margin: 0 auto;
}

#equation-field {
  
    text-align: center;
    font-size: 2rem;
    background-color: wheat;
    outline: none;
    margin: 0.5rem;
    border-radius: 0.3rem;
    width: 10rem;

}

.container-input{
   text-align:center ;
   margin: 20px;
}

#solve-button {
    border: none;
    background-color: #4CAF50;
    font-size: 2rem;
    color: white;
    padding: 0.3rem 1rem;
    text-align: center;
    cursor: pointer;
    width: 10rem;
    outline: none;
    margin: 10px 0;
}


#solution-display {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

#solution-display > .equation-component {
    background-color: #008CBA;
    color: white;
    font-size: 2rem;
    padding: 0.1rem 1rem;

}